 <h1>Attended Events</h1>

  <br>
  <br>

 <h2> Upcoming Events </h2>

 <table class="table">
   <thead>
   <tr>
     <th scope="col">#</th>
     <th scope="col"> Title </th>
     <th scope="col"> Description </th>
     <th scope="col"> Date </th>
     <th scope="col"> Attendee Count </th>
     <th scope="col"> Update</th>
   </tr>
   </thead>

  <% Event.future.find do |event| %>

    <% event.attendees.each do |attendee| %>
      <% if attendee.email == @user.email %>

            <tr>
              <% number = 1 %>
              <td scope="row"> <%= number %> </td>
              <% number + 1 %>
              <td > <%= link_to event.title, event_path(event) %></td>
              <td > <%= event.body %></td>
              <td > <%= event.date %></td>
              <td > <%= event.attendees.length %></td>
              <td> Placeholder to update attend status</td>
            </tr>

      <% end %>

    <% end %>
  <% end %>




